/* This file is part of 43S.
 *
 * 43S is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * 43S is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with 43S.  If not, see <http://www.gnu.org/licenses/>.
 */

/********************************************//**
 * \file c47-gtk.rc
 ***********************************************/

#include <windows.h>
#include "version.h"

#define STD_SPACE_3_PER_EM " "
#if CUSTOM_BUILD == 1 || VERSION_MODDED == 1
  #define FF_CUSTOM VS_FF_PRIVATEBUILD
#else // CUSTOM_BUILD == 1 || VERSION_MODDED == 1
  #define FF_CUSTOM 0
#endif // CUSTOM_BUILD == 1 || VERSION_MODDED == 1
#if defined(NDEBUG)
  #define FF_DEBUG 0
#else // defined(NDEBUG)
  #define FF_DEBUG VS_FF_DEBUG
#endif // defined(NDEBUG)

1 ICON "../../res/c47.ico"

1 VERSIONINFO

FILEVERSION     VERSION_WINRS
PRODUCTVERSION  VERSION_WINRS
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (FF_CUSTOM|FF_DEBUG)
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN

{
  BLOCK "StringFileInfo" {
    BLOCK "040904E4" {
      VALUE "CompanyName",      ""
      VALUE "FileDescription",  "C47 RPN Scientific Calculator"
      VALUE "FileVersion",      VERSION_SHORT
      VALUE "InternalName",     "c47"
      VALUE "OriginalFilename", "c47.exe"
      #if CUSTOM_BUILD == 1
        VALUE "PrivateBuild",   VERSION_SHORT
      #endif // CUSTOM_BUILD == 1
      VALUE "ProductName",      "C47"
      VALUE "ProductVersion",   VERSION_SHORT
    }
  }

  BLOCK "VarFileInfo" {
    VALUE   "Translation",      0x0409, 1254
  }
}
